.textContainer {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
  }


.outertextContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #FFFFFF;
    border-radius: 0px;
    height: 60%;
    max-width: 8%;
    margin-left:-8%;
    z-index: 0;
    transition: margin .5s;
  }


.textContainerUser {
    background: #666666;
    border-radius: 8px;
    padding-left: 10px;
    color: white;
    display: flex;
    max-width: 100%;
    overflow: auto;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  
.textContainerText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    font-family: Helvetica;
    word-wrap: break-word;
    margin: 4px;
    padding-top: 4px; 
    padding-bottom: 4px; 
  }

.backgroundRed {
    background: #ff1a1a;
  }

.openTextContainer{
  display: flex;
  /* background: #aaaaaa; */
  background: #b1b1b1;
  color: white;
  padding-left:5px;
  padding-right:5px;
  height: 60%;
  align-items: center;
  word-wrap: break-word;
  max-width: 100%;
  border-radius: 0px 4px 4px 0;
}

.outertextContainer.is-open {
  margin-left: 0;
}

.usersInfo{
  background: #0cd115;
  border-radius: 0px;
  padding-left: 10px;
  color: white;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 5px;
  min-height: 60px;
}